<h1>Colors#index</h1>
<p>Find me in app/views/colors/index.html.erb</p>
<div>
  <%= button_to "Red", root_path(color: "red") %>
  <%= button_to "Green", root_path(color: "green") %>
  <%= button_to "Blue", root_path(color: "blue") %>
</div>
