// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  &.colors-red {
    background-color: #fdd;
  }
  &.colors-green {
    background-color: #dfd;
  }
  &.colors-blue {
    background-color: #ddf;
  }
}
